@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Hace que el cuerpo ocupe toda la ventana */
    overflow: hidden; /* Elimina el scroll no deseado */
}

.wrapper {
    display: flex; /* Flexbox para alinear el sidebar y el main horizontalmente */
    height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
}

main {
    min-height: 100vh;
    flex: 1; /* Ocupa el espacio restante al lado del sidebar */
    overflow: auto; /* Permite scroll si el contenido del main es muy grande */
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
    padding: 1rem; /* Margen interno para el contenido del main */
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Asegura que el sidebar ocupe toda la pantalla */
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.contenedor-tabla{
    text-align: center;
}

.contenedorMayor{
    width: 80%;
    height: 80%;
}

h2{
    font-size: 50px;
}

.contenedorboton{
    justify-content: end;
    display: flex;
    margin: 20px 0;
    padding-right: 60px;
}

#eliminar{
    background: rgb(235, 51, 36);
}

#añadir{
    background: rgb(43, 254, 253);
    padding: 10px;
}

#editar{
    background: rgb(21, 233, 0);
}

button{
    cursor: pointer;
    font-size: 15px;
    border: 2px none ;
    border-radius: 10px;
    padding: 0 20px;
    margin: 0 5px;
}

dialog{
    width: 400px;
    height: 550px;
    background: #fff;
    border: none;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.contTitulo{
    display: flex;
    justify-content: center;
    margin: 20px;
}

label,input,textarea{
    display: block;
    margin: 10px 5px;
    width: 90%;
}
dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.55);
}

.contButon{
    margin: 20px;
    justify-content: center;
    display: flex;
}

#stock , #precio {
    margin: 10px 0;
    display: inline;
    width: 70px;
}

.especial{
    display: inline;
}

#cerrarModal{
    background-color: rgba(255, 255, 255, .075);
    cursor: pointer;
    border: 1px solid #0002;
    width: 200px;
    height: 50px;
    font-size: 15px;
}

#cerrarModal:hover{
    background: rgb(120,120,120);
    transition: .2;
    color: #fff;
}

#descripcion{
    width: 90%;
    height: 95px;
    resize: none;
}
